*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input[type='button']{
    padding: 10px 20px;
     background: linear-gradient(
        -135deg,
        #0048ce49,
        #3cc7c0c0
    );
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    margin-left: 10px;
    margin-top: -20px;
    border-radius: 8px;
    cursor: pointer;
}
.buttons{
    width: 80px;
    margin: 60px auto 0 auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
.main{
    background:#e4e675;
    width: 50%;
    min-width: 500px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 100px 0;
    border-radius: 50px;

}

.box{
    position: relative;
    width: 110%;
    background: linear-gradient(
        -135deg,
        #0048ce49,
        #3cc7c080
    );
    left: -5%;
    padding: 30px 0;
    font-family: 'Roboto mono';
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 30%;
    box-shadow: 5px 5px 25px rgba(8, 8, 8, 0.863);
}
P{
    position:relative ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
    font-family:sans-serif;
    word-spacing: 5px;
    letter-spacing: 4px;
    font-size: 11px;
    font-style: italic;
}

ul li {
    text-align: center;
    list-style: none;
    margin-bottom: 10px;
    font-size: 16px;
}